.label-card {
    -fx-background-color: #ffffff;

    -fx-background-radius: 10px;

    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-border-radius: 10px;
    -fx-border-color: #CCCCCC;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-cursor: hand;
    -fx-transition: all 0.2s ease-in-out;
}

.label-card:hover {
    -fx-background-color: #f7f7f7;

    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0, 0, 0);
    -fx-border-color: #aaaaaa;
}

